html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
    margin: 0;
  }

/*HEADER*/
.header--container{
    display: flex;
    width: 100%;
    height: 20%;
    background-color: #E6EDEA;
}

.header--list {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
}

.list--items {
    text-decoration: none;
    color: #4F4C59;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/*BANNER*/
.banner--container {
    display: flex;
    width: 100%;
    height: 90%;
    position: relative;
}

.banner--img {
    width: 100%;
    height: auto; 
}

.logo--container {
    z-index: 1;
    position: absolute;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo {
    background-color: #7C708C;
    color: #E6EDEA;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 9rem;
    padding: 2% 5%;
    border: 5px solid #ADAABF;
}

.sub--logo {
    background-color: #7C708C;
    color: #E6EDEA;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    padding: 3%;
    border: 5px solid #ADAABF;
}

/*ABOUT MAIN*/
.about--container {
    width: 100%;
    margin: 2%;
    display: inline-flex;
    padding: 5% 0;
}

.about--img {
    width: 30%;
    height: 50%;
}

.text--container{
    display: flex;
    flex-wrap: wrap;
    width: 65%;
}
.about--text {
    line-height: 2rem;
    font-family: 'Montserrat', sans-serif;
    padding-left: 2%;
    font-size: 1.5rem;
    color: #0D0000;
}


/*EXTRA IMG SECTION*/
.ink--img--container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 1% 0;
    background-color: #7C708C;
}
.ink--img {
    width: 98%;
}

/*MEMBERS SECTION*/
.member--title {
    display: flex;
    justify-content: center;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 2rem;
    color: #7C708C;
}

.member--container{
    display: inline-flex;
    justify-content: space-evenly;
    padding-bottom: 10%;
}

.member--box{
    width: 18%;
}
.member--img {
    width: 98%;
    height: 88%;
}
.member--text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding-left: 8%;
    color: #0D0000;
}

/*PATTERNS SECTION*/
.knits--container {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    justify-content: center;
    background-color: #E6EDEA;
    padding: 5% 0;
}

.knits--img {
    width: 80%;
    height: auto;   
}
.knits--slogan {
    position: absolute;
    background-color: #4F4C59;
    color: #E6EDEA;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 9rem;
    border: 12px solid #ADAABF;
}

.knits--text {
    line-height: 2rem;
    font-family: 'Montserrat', sans-serif;
    padding-left: 2%;
    font-size: 1.5rem;
    color: #0D0000;
}

button {
    padding: 4%;
    margin-left: 37%;
    margin-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    background-color: #381E40;
    border-radius: 10px;
    color: #E6EDEA;
}

button:hover {
    background-color: #0D0000;
}

.dobby--img {
    width: 100%;
    height: auto;
}

.dobby--quote--container {
    list-style-type: none;
    padding: 2.5% 30%;
    line-height: 2.5rem;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color:#E6EDEA;
    background-color: #0D0000; 
    margin-top: 1%;
}
/*FOOTER JOIN/DONATE/CONTACT*/