html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
    margin: 0;
  }

/*HEADER*/
.header--container{
    display: flex;
    width: 100%;
    height: 20%;
    background-color: #E6EDEA;
}
.header--list {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
}
.list--items {
    text-decoration: none;
    color: #4F4C59;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
/*SMART PHONE*/
@media only screen and (max-width: 480px) {
    .header--list {
        justify-content: space-between;
        padding-right: 10%;
    }
}
/*TABLET NONE*/

/*BANNER*/
.banner--container {
    display: flex;
    width: 100%;
    height: 90%;
    position: relative;
}
.banner--img {
    width: 100%;
    height: auto; 
}
.logo--container {
    z-index: 1;
    position: absolute;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0.9;
}
.logo {
    background-color: #7C708C;
    color: #E6EDEA;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 9rem;
    padding: 2% 5%;
    border: 5px solid #ADAABF;
}
.sub--logo {
    background-color: #7C708C;
    color: #E6EDEA;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    padding: 3%;
    border: 5px solid #ADAABF;
}
/*SMART PHONE*/
@media only screen and (max-width: 480px) {
    .logo {
        font-size: 4rem;
        padding: 1% 2%;
        border: 2px solid #ADAABF;
    }
    .sub--logo {
        font-size: 1rem;
        padding: 1.5%;
        border: 2px solid #ADAABF;
    }
}
/*TABLET*/
@media only screen and (min-width: 481px) and (max-width: 870px) {
    .logo {
        font-size: 7rem;
        padding: 1% 2%;
        border: 3px solid #ADAABF;
    }
    .sub--logo {
        font-size: 2rem;
        padding: 1.5%;
        border: 2px solid #ADAABF;
    }
}

/*ABOUT MAIN*/
.about--container {
    width: 100%;
    margin: 2%;
    display: inline-flex;
    padding: 5% 0;
}
.about--img {
    width: 30%;
    height: 50%;
}
.text--container{
    display: flex;
    flex-wrap: wrap;
    width: 65%;
}
.about--text {
    line-height: 2rem;
    font-family: 'Montserrat', sans-serif;
    padding-left: 2%;
    font-size: 1.5rem;
    color: #0D0000;
}
/*SMART PHONE*/
@media only screen and (max-width: 480px) {
    .about--container {
        width: 100%;
        margin-top: 2%;
        margin-left: 0;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
    .about--img {
        width: 50%;
        height: 60%;
        background-color: #381E40;
        padding: 0 25%;

    }
    .text--container{
        width: 90%;
    }
    .about--text {
        line-height: 1.5rem;
        padding-left: 5%;
        font-size: 1rem;   
    }      
}
/*TABLET*/
@media only screen and (min-width: 481px) and (max-width: 870px) {
    .about--container {
        width: 100%;
        margin-top: 2%;
        margin-left: 0;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
    .about--img {
        width: 50%;
        height: 70%;
        padding: 0 25%;
        background-color: #381E40;
    }
    .text--container{
        width: 90%;
    }
    .about--text {
        padding-left: 5%; 
    }   
}

/*EXTRA IMG SECTION*/
.ink--img--container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 1% 0;
    background-color: #7C708C;
}
.ink--img {
    width: 98%;
}
/*SMART PHONE*/
@media only screen and (max-width: 480px) {
    .ink--img--container{
        padding: 4% 0;
    }
    .ink--img {
        width: 96%;
    }  
}
/*TABLET*/
@media only screen and (min-width: 481px) and (max-width: 870px) {
    .ink--img--container{
        padding: 4% 0;
    }
    .ink--img {
        width: 96%;
    }  
}

/*MEMBERS SECTION*/
.member--title {
    display: flex;
    justify-content: center;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 2rem;
    color: #7C708C;
}
.member--container{
    display: inline-flex;
    justify-content: space-evenly;
    padding-bottom: 10%;
}
.member--box{
    width: 18%;
}
.member--img {
    width: 98%;
    height: 88%;
}
.member--text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding-left: 8%;
    color: #0D0000;
}
/*SMART PHONE*/
@media only screen and (max-width: 480px){
    .member--title {
        font-size: 1.5rem;
    }
    .member--container{
        display: inline-flex;
        justify-content: space-evenly;
        padding-bottom: 15%;
    }
    .member--img {
        width: 90%;
        height: 80%;
    }
    .member--text {
        font-size: 0.5rem;
        padding-left: 2%;  
    }
}
/*TABLET NONE*/

/*PATTERNS SECTION*/
.knits--container {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    justify-content: center;
    background-color: #E6EDEA;
    padding: 5% 0;
}
.knits--img {
    width: 80%;
    height: auto;   
}
.knits--slogan {
    position: absolute;
    background-color: #4F4C59;
    color: #E6EDEA;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 9rem;
    border: 12px solid #ADAABF;
    opacity: 0.9;
}
.knits--text {
    line-height: 2rem;
    font-family: 'Montserrat', sans-serif;
    padding-left: 2%;
    font-size: 1.5rem;
    color: #0D0000;
}
.button {
    width: 14%;
    margin: 5% 37%;
    padding: 3%;
    background-color: #381E40;
    border-radius: 10px;   
}
.button a {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #E6EDEA;
    text-decoration: none;
}
.button:hover {
    background-color: #0D0000;
    cursor: pointer;
}
.dobby--img {
    width: 100%;
    height: auto;
}
.dobby--quote--container {
    list-style-type: none;
    padding: 2.5% 30%;
    line-height: 2.5rem;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color:#E6EDEA;
    background-color: #0D0000; 
    margin-top: 1%;
}
/*SMART PHONE*/
@media only screen and (max-width: 480px){
    .knits--container {
        padding: 3% 0;
    }
    .knits--slogan {
        font-size: 3rem;
        border: 6px solid #ADAABF;
    }
    .knits--text {
        line-height: 1.5rem;
        padding-left: 5%;
        font-size: 1rem;  
        width: 90%;
    }
    .button {
        width: 23%;
        margin: 5% 33%;
        padding: 1.5%; 
        background-color:#381E40;
    }
    .button a {
        font-size: 1rem;
    }
    .dobby--quote--container {
        width: 100%;
        padding-left: 20%;
        line-height: 1.5rem;
        font-size: 0.75rem;
        margin-top: 0.5%;
        margin-bottom: 2%;
    }
}
/*TABLET*/
@media only screen and (min-width: 481px) and (max-width: 870px){
    .knits--slogan {
        font-size: 5rem;
        border: 9px solid #ADAABF;
    }
    .knits--text {
        padding-left: 5%;
        width: 90%;
    }
    .button {
        width: 18%;
        margin: 5% 37%;
        padding: 1%;  
    }
    .button a {
        font-size: 1.5rem;
    }
    .dobby--quote--container {
        width: 100%;
        padding-left: 25%;
        line-height: 2.3rem;
        font-size: 1.2rem;
        margin-top: 1%;
        margin-bottom: 2%;
    }
}

/*FOOTER JOIN/DONATE/CONTACT*/
.footer--container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #ADAABF;
}
.badge--img{
    width: 20%;
    height: auto;
}
.footer--list {
    list-style-type: none;
    line-height: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #4F4C59;
}
/*SMART PHONE*/
@media only screen and (max-width: 480px) {
    .badge--img{
        width: 100%;
        height: auto;
    }
    .footer--list {
        line-height: 1.5rem;
        font-size: 0.80rem;
    }
}
/*TABLET*/
@media only screen and (min-width: 481px) and (max-width: 870px) {
    .badge--img{
        width: 100%;
        height: auto;
    }
    .footer--list {
        line-height: 2rem;
        font-size: 1.2rem;
    }
}
