html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
    margin: 0;
  }

/*HEADER*/
.header--container{
    display: flex;
    width: 100%;
    height: 20%;
    background-color: #E6EDEA;
}

.header--list {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
}

.list--items {
    text-decoration: none;
    color: #4F4C59;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/*BANNER*/



/*ABOUT MAIN*/



/*MEMBERS SECTION*/



/*PATTERNS SECTION*/



/*FOOTER JOIN/DONATE/CONTACT*/